<section>
  <div class="page-header">
    <h1>User <span [innerText]="user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="update(form.value)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user.firstName" [formControl]="firstName" placeholder="First Name" required />
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.lastName" [formControl]="lastName" placeholder="Last Name" required />
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="userRoles">Roles</label>
          <div class="controls">
            <input class="form-control" type="text" name="userRoles" [(ngModel)]="user.roles" [formControl]="userRoles" id="userRoles" required />
          </div>
        </div>
        <div class="form-group">
          <!-- todo: change button style -->
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div *ngIf="error" class="text-danger">
          <strong [innerText]="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
