<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" [(ngModel)]="search" placeholder="Search" (change)="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a *ngFor="let user of pagedItems" [routerLink]="['/admin/users', user._id]" class="list-group-item">
      <h4 class="list-group-item-heading" [innerText]="user.username"></h4>
      <p class="list-group-item-text pull-right small" [innerText]="user.roles"></p>
      <p class="list-group-item-text" [innerText]="user.email"></p>
    </a>
  </div>

  <!-- <pagination [boundaryLinks]="true" [maxSize]="8" [totalItems]="filterLength" ></pagination> -->
</section>
