<div class="col-md-12 text-center social-block">
  <img (click)="callOauthProvider('/api/auth/facebook')" src="/img/buttons/facebook.png">
  <img (click)="callOauthProvider('/api/auth/twitter')" src="/img/buttons/twitter.png">
  <img (click)="callOauthProvider('/api/auth/google')" src="/img/buttons/google.png">
  <img (click)="callOauthProvider('/api/auth/linkedin')" src="/img/buttons/linkedin.png">
  <img (click)="callOauthProvider('/api/auth/github')" src="/img/buttons/github.png">
  <img (click)="callOauthProvider('/api/auth/paypal')"  src="/img/buttons/paypal.png">
</div>
